@import "tailwindcss";

#root{
  background-color: var(--main-bg-app);
  min-height: 100vh;
  display: flex;
  color:var(--main-color-app)
}

:root{
  --main-bg-app: #f3e6e2;
  --main-color-app: #3a2729
}